@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*<a class="btn-link" asp-page="/Privacy">Go To Privacy</a>*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>The winning number is!</h2>
    <h3>Congratulations</h3>
    <h4>@Model.WinnerNumber</h4>
</div>
